
<body>
  <head>
  <style>
  body {
    background-image: url('https://images7.alphacoders.com/480/thumb-1920-480440.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  </style>
  </head>



<p  style="color:white"> {{movie[5]}} </p>
<p style="color:white"> IMDB RATING:{{movie[6]}}</p>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
  <tr>
    <th style="color:white">Cast Members</th>

  </tr>
  <tr>
    <td>{{movie[0]}}</td>

  </tr>
  <tr>
    <td style="color:white">{{movie[1]}}</td>

  </tr>
  <tr>
    <td>{{movie[2]}}</td>

  </tr>
  <tr>
    <td style="color:white">{{movie[3]}}</td>

  </tr>
  <tr>
    <td>{{movie[4]}}</td>

  </tr>

</table>
<br>
<table>
  <tr>
    <th style="color:white">Recommended movies</th>

  </tr>
  <tr>
    <td>{{mo[9]}}</td>

  </tr>
  <tr>
    <td style="color:white">{{mo[8]}}</td>

  </tr>
  <tr>
    <td>{{mo[7]}}</td>

  </tr>
  <tr>
    <td style="color:white">{{mo[6]}}</td>

  </tr>
  <tr>
    <td>{{mo[5]}}</td>

  </tr>
  <tr>
    <td style="color:white">{{mo[4]}}</td>

  </tr>
</table>

<p></p>



</body>
